<div class="container col-md-8">
    <h3 class="card-header">Card header {{valueitem | json}}</h3>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-primary m-2 text-capitalize" (click)="onGoToEdit(valueitem)">edit product</button>
        <button class="btn btn-primary m-2 text-capitalize" (click)="onGoToCreate()">create product</button>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<div class="container col-md-8">
    <div class="card-body">
        <button class="btn btn-success m-2 text-capitalize" (click)="onGoToBack()">go back to list</button>
    </div>
</div>