<div class="container col-md-8">
    <h3 class="card-header">Card header {{valueitem.name | json}}</h3>
    <div class="card-body">
        <h5 class="card-title">{{valueitem.name}} </h5>
    </div>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> {{valueitem.type}} </li>
        <li class="list-group-item">{{valueitem.quantity}}</li>
        <li class="list-group-item">{{valueitem.description}}</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-primary m-2 text-capitalize" (click)="onGoToEdit(valueitem)">edit product</button>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<div class="container col-md-8">
    <div class="card-body">
        <button class="btn btn-success m-2 text-capitalize" (click)="onGoToBack()">go back to list</button>
        <button class="btn btn-primary m-2 text-capitalize" (click)="onGoToCreate()">create product</button>
    </div>
</div>