<div class="container col-md-8">
    <form (ngSubmit)="onSave()" [formGroup]="productsForm">
        <fieldset>
            <legend>Legend {{valueitem | json}} </legend>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-capitalize" formControlName="name">name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" placeholder="insert name of product or service">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label mt-4 text-capitalize" formControlName="type">type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" placeholder="insert type of product or service">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label mt-4 text-capitalize" formControlName="price">price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext text-capitalize" placeholder="insert price of product">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label mt-4 text-capitalize" formControlName="quantity">quantity</label>
                <select class="form-select" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            </div>

            <div class="form-group">
                <label class="form-label mt-4 text-capitalize" formControlName="description">insert description</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label mt-4 text-capitalize" formControlName="image">insert an image</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </fieldset>
        <fieldset class="form-group mt-5">
            <div class="card">
                <button type="submit" class="btn btn-primary primary ">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<div class="container col-md-8">
    <div class="card">
        <button class="btn btn-success m-2 text-capitalize" (click)="onGoToBack()">go back to list</button>
    </div>
</div>